<div class="container">

    <!-- keresés, létrehozás -->
    <div class="row  justify-content-around px-5 .d-inline-block">

        <div class="col-auto text-center">
            <label>Keresés a jegyek között</label>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Esemény neve">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Keresés</button>
            </form>
        </div>

        <div class="my-2 my-lg-0 text-center" *ngIf="userService.isLoggedin">
            <div>
                <label>Jegyet szeretnék létrehozni</label>
            </div>
            <div class="w-100"></div>
            <div><a routerLink="/ticket/new" routerLinkActive="router-link-active" class="btn btn-primary"
                    role="button">Új jegy léterhozása</a></div>
        </div>
    </div>

    <!-- table -->
    <table class="table table-responsive table-hover text-center mt-5">
        <thead>
            <tr>
                <th class="text-center">Esemény neve</th>
                <th class="text-center">Időpont</th>
                <th class="text-center">Előadó neve</th>
                <th class="text-center">Hány db?</th>
                <th class="text-center">Licitek megtekintése</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let ticket of ticketsGrouppedBy3$ | async">
                <td scope="row">
                    <img [src]="tickets.event.pictureURL" width="80px" height="50px" alt="">
                    <a [routerLink]="['/event', tickets.eventId]">
                        {{ tickets.event.name }}
                    </a>
                </td>
                <td>{{ tickets.date }}</td>
                <td class="d-none d-md-table-cell">{{ tickets.seller.name }}</td>
                <td class="d-none d-md-table-cell">{{ tickets.numberOfTickets }}</td>
                <td><a [routerLink]="['/ticket', tickets.id]">Tovább a licithez</a></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- caontainer-end -->