<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" translate="APP.TITLE"></a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = toggleMenu()" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" translate="APP.NAVBAR.HOME"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="event" translate="APP.NAVBAR.EVENT"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ticket" translate="APP.NAVBAR.TICKET"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" translate="APP.NAVBAR.ABOUT"></a>
        </li>
        <ng-container *ngIf="!isLoggedIn; else loggedInBlock">
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/login" translate="APP.NAVBAR.LOGIN"></a>
            <!-- <app-nav-bar-item url="/user/login" [name]=login|translate></app-nav-bar-item> -->
          </li>
          <li class="nav-item"><a class="nav-item nav-link btn btn-primary text-light ml-lg-2 btn-sm"
              routerLinkActive="active" routerLink="/user/registration" translate="APP.NAVBAR.REGISTRATION"></a></li>
        </ng-container>
        <ng-template #loggedInBlock>
          <li class="nav-item"><a class="nav-item nav-link tn btn-primary text-light ml-lg-2 btn-sm"
              routerLinkActive="active" routerLink="/user" translate="APP.NAVBAR.PROFILE"></a></li>
          <li class="nav-item"><a class="nav-item nav-link" routerLinkActive="active"
              (click)="logout()" translate="APP.NAVBAR.LOGOUT">
            </a></li>
        </ng-template>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" aria-haspopup="true"
            aria-expanded="false" (click)="toggleLanguageSwicher($event)" translate="APP.NAVBAR.LANGUAGES.LAN">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" [collapse]="isCollapsedLanguageSwicher">
            <button class="dropdown-item" [disabled]="currentLang == 'hu'"
              (click)="selectLang('hu', $event)" translate="APP.NAVBAR.LANGUAGES.HUN"></button>
            <button class="dropdown-item" [disabled]="currentLang =='en'"
              (click)="selectLang('en', $event)" translate="APP.NAVBAR.LANGUAGES.ENG"></button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>