<app-jumbotron>
  <h1 class="display-4 mb-4">{{"APP.HOME.DESCRIPTION.TITLE"|translate}}</h1>
  <p class="lead">{{"APP.HOME.DESCRIPTION.JUMBOTRONDESC"|translate}}</p>
  <a class="btn btn-primary btn-lg mt-4 mb-0" routerLink="/event" role="button">
    {{"APP.HOME.DESCRIPTION.EVENTSBTN"|translate}}
  </a>
</app-jumbotron>

<div class="container">

  <div class="card-deck pt-5">

    <div class="col col-md-6 col-lg-4">
      <div class="index_card text-center">
        <div class="row justify-content-center">
          <img class="card-img-top img-fluid calendar" src="assets/calendar.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">{{"APP.HOME.LABELS.EVENTS" | translate}}</h4>
          <p class="index_text card-text">{{"APP.HOME.DESCRIPTION.EVENTS"|translate}}</p>
          <a routerLink="/event" class="btn btn-primary index_btn_card">{{"APP.HOME.LABELS.EVENTS" | translate}}</a>
        </div>
      </div>
    </div>

    <div class="col col-md-6 col-lg-4">
      <div class="index_card text-center">
        <div class="row justify-content-center">
          <img class="card-img-top img-fluid calendar" src="assets/ticket.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">{{"APP.HOME.LABELS.TICKETS" |translate}}</h4>
          <p class="index_text card-text">{{"APP.HOME.DESCRIPTION.TICKETS"|translate}}</p>
          <a routerLink="/ticket" class="btn btn-primary index_btn_card">{{"APP.HOME.LABELS.TICKETS" |translate}}</a>
        </div>
      </div>
    </div>

    <div class="col col-md-8 mx-md-auto col-lg-4">
      <div class="index_card text-center col">
        <div class="row justify-content-center">
          <img class="card-img-top img-fluid calendar" src="assets/user.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title">{{"APP.HOME.LABELS.REGISTRATION"|translate}}</h4>
          <p class="index_text card-text">{{"APP.HOME.DESCRIPTION.REGISTRATION"|translate}}</p>
          <a routerLink="/user/registration"
            class="btn btn-primary index_btn_card">{{"APP.HOME.LABELS.REGISTRATION"|translate}}</a>
        </div>
      </div>
    </div>

  </div>
</div>